body {
    background-color: #e3e3e3;
    font-family: Helvetica, sans-serif;
    color: #222;
    padding: 40px;
    margin: 40px;

}

section {
    background: #ccc;
    

}

h1 {
    text-align: center;
    font-size: 4em;
    
}

.link {
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 3px;

}

.linkback {
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 3px;
    
}


.card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid #aaa;

}

.pic {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid #aaa;
}